*{
	margin: 0;
	box-sizing: border-box;
}


nav#menu{
	width: 100%;
	height: 10vh;
	background-color: #000;
}

nav#menu > ul>li{
	display:inline-block;
	color:#fff;
	margin-left: 20px;
	margin-top: 25px;
	
}